.container {
    display: flex;
    width: 100%;
    padding: 5px;
}

.infoContainer {
    display: flex;
    width:100%;
}

.titleDescriptionContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    width: 100%;
    padding: 5px;
}

.issueTimeContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    text-align: start;
    width: 40%;
    padding: 5px;
}

.deleteContainer {
    display: flex;
    align-items: center;
    background-color: #FF3C3C;
    color: white;
    font-weight: bold;
    align-items: center;
    padding: 5px;
}

.deleteContainer:hover {
    cursor: pointer;
    background-color: #FF7D7D;
}

p {
    color: #000000da;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1em;
}

a {
    font-weight: bold;
}

#more {display: none;}