body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
}

.register-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.register-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%;
    max-width: 400px;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Media queries for responsive design */

/*SMALL SCREENS*/
@media (max-width: 600px) {
    .container {
        width: 90%;
        padding: 15px;
    }

    input {
        padding: 8px;
    }

    button {
        padding: 8px;
    }
}

/*MEDIUM SCREENS*/
@media (min-width: 601px) and (max-width: 900px) {
    .container {
        width: 70%;
    }
}

/*LARGE SCREENS*/
@media (min-width: 901px) {
    .container {
        width: 50%;
    }
}